<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>controller.BaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProblemList</servlet-name>
        <servlet-class>controller.viewProblemList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProbList</servlet-name>
        <servlet-class>controller.viewProbList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getACropAssessment</servlet-name>
        <servlet-class>controller.getACropAssessment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRecomList</servlet-name>
        <servlet-class>controller.getRecomList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProbDetails</servlet-name>
        <servlet-class>controller.viewProbDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPostDetails</servlet-name>
        <servlet-class>controller.viewPostDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewRecList</servlet-name>
        <servlet-class>controller.viewRecList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewRecDetails</servlet-name>
        <servlet-class>controller.viewRecDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFRTable</servlet-name>
        <servlet-class>controller.viewFRTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPlansProblemTable</servlet-name>
        <servlet-class>controller.viewPlansProblemTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPRT</servlet-name>
        <servlet-class>controller.viewPRT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createNewProgram</servlet-name>
        <servlet-class>controller.createNewProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProgramsTable</servlet-name>
        <servlet-class>controller.viewProgramsTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProgramDetails</servlet-name>
        <servlet-class>controller.viewProgramDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateKPIProgram</servlet-name>
        <servlet-class>controller.updateKPIProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadTreeMapData</servlet-name>
        <servlet-class>controller.loadTreeMapData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createNewRecommendation</servlet-name>
        <servlet-class>controller.createNewRecommendation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendAlert</servlet-name>
        <servlet-class>controller.sendAlert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAlertByBarangay</servlet-name>
        <servlet-class>controller.viewAlertByBarangay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewDisastersList</servlet-name>
        <servlet-class>controller.viewDisastersList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewspecificAlerts</servlet-name>
        <servlet-class>controller.viewspecificAlerts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFarmerProfile</servlet-name>
        <servlet-class>controller.viewFarmerProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFarmerRecT</servlet-name>
        <servlet-class>controller.viewFarmerRecT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFarmerProbT</servlet-name>
        <servlet-class>controller.viewFarmerProbT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewForumList</servlet-name>
        <servlet-class>controller.viewForumList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFarmersFieldTable</servlet-name>
        <servlet-class>controller.viewFarmersFieldTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchSimilarFarms</servlet-name>
        <servlet-class>controller.searchSimilarFarms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFieldDetails</servlet-name>
        <servlet-class>controller.viewFieldDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createTagList</servlet-name>
        <servlet-class>controller.createTagList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFarmDifferences</servlet-name>
        <servlet-class>controller.viewFarmDifferences</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewWeatherTrends</servlet-name>
        <servlet-class>controller.viewWeatherTrends</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewDistCropEstimate</servlet-name>
        <servlet-class>controller.viewDistCropEstimate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewMuniCropEst</servlet-name>
        <servlet-class>controller.viewMuniCropEst</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewDiffDistEst</servlet-name>
        <servlet-class>controller.viewDiffDistEst</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadCompChartData</servlet-name>
        <servlet-class>controller.loadCompChartData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BaseServlet</servlet-name>
        <url-pattern>/BaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createNewRecommendation</servlet-name>
        <url-pattern>/createNewRecommendation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProblemList</servlet-name>
        <url-pattern>/viewProblemList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProbList</servlet-name>
        <url-pattern>/viewProbList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getACropAssessment</servlet-name>
        <url-pattern>/getACropAssessment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRecomList</servlet-name>
        <url-pattern>/getRecomList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProbDetails</servlet-name>
        <url-pattern>/viewProbDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewRecList</servlet-name>
        <url-pattern>/viewRecList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewRecDetails</servlet-name>
        <url-pattern>/viewRecDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPostDetails</servlet-name>
        <url-pattern>/viewPostDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFRTable</servlet-name>
        <url-pattern>/viewFRTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPlansProblemTable</servlet-name>
        <url-pattern>/viewPlansProblemTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPRT</servlet-name>
        <url-pattern>/viewPRT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createNewProgram</servlet-name>
        <url-pattern>/createNewProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewWeatherTrends</servlet-name>
        <url-pattern>/viewWeatherTrends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProgramsTable</servlet-name>
        <url-pattern>/viewProgramsTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProgramDetails</servlet-name>
        <url-pattern>/viewProgramDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateKPIProgram</servlet-name>
        <url-pattern>/updateKPIProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadTreeMapData</servlet-name>
        <url-pattern>/loadTreeMapData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendAlert</servlet-name>
        <url-pattern>/sendAlert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAlertByBarangay</servlet-name>
        <url-pattern>/viewAlertByBarangay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewDisastersList</servlet-name>
        <url-pattern>/viewDisastersList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewForumList</servlet-name>
        <url-pattern>/viewForumList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewspecificAlerts</servlet-name>
        <url-pattern>/viewspecificAlerts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFarmerRecT</servlet-name>
        <url-pattern>/viewFarmerRecT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFarmerProbT</servlet-name>
        <url-pattern>/viewFarmerProbT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFarmersFieldTable</servlet-name>
        <url-pattern>/viewFarmersFieldTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchSimilarFarms</servlet-name>
        <url-pattern>/searchSimilarFarms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFieldDetails</servlet-name>
        <url-pattern>/viewFieldDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createTagList</servlet-name>
        <url-pattern>/createTagList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFarmDifferences</servlet-name>
        <url-pattern>/viewFarmDifferences</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSendRec</servlet-name>
        <url-pattern>/viewSendRec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewDistCropEstimate</servlet-name>
        <url-pattern>/viewDistCropEstimate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewMuniCropEst</servlet-name>
        <url-pattern>/viewMuniCropEst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewDiffDistEst</servlet-name>
        <url-pattern>/viewDiffDistEst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadCompChartData</servlet-name>
        <url-pattern>/loadCompChartData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
